.App {
  text-align: center;
}

.App-header {
  background-color: #7fa4f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.texto{
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.botn-size{
  height: 40px;
  width: 60px;
}
.boton-mas{
  background-color: rgb(0, 224, 75);
}
.boton-reiniciar{
  background-color: rgb(23, 72, 136);
}
.boton-menos{
  background-color: rgb(230, 18, 18);
}
